{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"],
      "approximate": true
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "typecheck"
      ]
    }
  }
}
